@{
    
}

<div class='span9 offset2 floatShadow well bgwhite' id="srchFrm" style="text-align:center">
    <div>
        <a href="~/Admin/Products/Add"><h5>Add Product</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Products/Update">
        <h5>Update Products</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Products/Delete">
        <h5>Delete Products</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Products/Display">
        <h5>View All Products</h5>
            </a>
    </div>


</div>
