@{
    
}

    <div class="row-fluid floatShadow well bgwhite">

        Brought to you by Fahad Mansoor 
        copyright yadayadayda 2012
        Contact info bsef09m039@pucit.edu.pk
        

        </div>