@{
    Layout = "Shared/Layout.cshtml";
    var Price = 143;

    Response.Write(UrlData[0]);
    var db = Database.Open("shopping");
    var row=db.Query("select * from Products where Id = @0", UrlData[0]);
    dynamic elem= row.ElementAt(0);
    
    
    
}
<div class="row-fluid" style="text-align:center" >
    <h1>@elem.Name</h1>
</div>
<div class="row-fluid floatShadow well bgwhite">

    <div class="span4">
        <img src= "../Images/large/@elem.Image" />
        
        <p>      Price:@elem.Price $ </p>
        <button class="btn btn-info"><i class="icon-white icon-plus"></i>Add To Cart </button>
        
    </div>
    <div class="span8">

        <h2>Product Features</h2>

          <div class="content">
              @elem.Description
      </div>
    </div>
</div>