@helper WriteProduct(string loc, string name, string id)
{
    <div class='span2'><a href='productDetail/@id'> <img src='@loc' /><br />@name</a></div>}

@helper WriteCategory(string loc, string name, string id)
{
    <div class='span2'><a href='CategoryDetail/@id'> <img src='@loc' /><br /> @name</a></div>}

@helper WriteRowProduct(string loc, string name, string id,string Price )
{
    <div class="row-fluid">
        <a href='productDetail/@id'>
        <div class="span2"><img src='@loc'  /></div>
        <div class="span6"><h5>@name</h5> <br /> Price: @Price</div>
            </a>
        
        
    </div>
    <br />
}
