@{
    
}

<div class='span9 offset2 floatShadow well bgwhite' id="srchFrm" style="text-align:center">
    <div>
        <a href="~/Admin/Categories/Add"><h5>Add Category</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Categories/Update">
        <h5>Update Category</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Categories/Delete">
        <h5>Delete Cateogry</h5>
            </a>
    </div>
    <div>
        <a href="~/Admin/Display">
        <h5>View All Categories</h5>
            </a>
    </div>


</div>
