@{
    var db= Database.Open("Shopping");
    var rows = db.Query("Select * from Category");
    int x = 0;
}

<div class="row-fluid offset4">
@foreach (var item in rows)
{
   
    @WriteHelpers.WriteCategory(item.Image, item.Name, Convert.ToString(item.Id ));
   
    x++;
}
    </div>